<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
    
            <a class="navbar-brand" href="#">SkinDisease</a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="home()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="analyze()">Click</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="">Upload</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="btn btn-outline-light" onclick="logout()">Logout</button>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

    <!-- Add this input field for file upload -->
    <div class="container mt-4">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <img src="" id="selectedImage" alt="Selected Image" style="max-width: 100%;">
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <input type="file" id="imageInput" style="display: none;" accept="image/*">
                <button class="btn btn-primary" onclick="chooseFile()">Choose Photo</button>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <button class="btn btn-primary" onclick="predict()">Predict</button>
            </div>
        </div>
        <!-- Display selected image -->    

    </div>

    <form id="myForm" action="/predict" method="POST">
        <!-- Hidden field -->
        <input type="hidden" id="predictField" name="predictField" value="undefined">
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function home(){
            document.location.href = 'http://127.0.0.1:5001/index'
        }

        function analyze(){
            document.location.href = 'http://127.0.0.1:5001/analyze'
        }

        function logout() {
            document.location = 'http://127.0.0.1:5001/';
        }

        function chooseFile() {
            document.getElementById('imageInput').click();
        }

        $('#imageInput').change(function() {
            var file = $(this)[0].files[0];
            if (file) {
                // Display selected image
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#selectedImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
        });

        // Function to handle file selection
        function predict() {
            // Get the selected file
            var temp = null;
            var file = document.getElementById('imageInput').files[0];
            if (file) {
                // Create a FormData object
                var formData = new FormData();
                formData.append('file', file);

                // Send the file to Flask using AJAX
                $.ajax({
                    url: 'http://127.0.0.1:5001/predict',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Handle the response from Flask
                        var hiddenField = document.getElementById("predictField");                       
                        console.log('Prediction result:', response.predicted_class);
                        hiddenField.value = response.predicted_class;
                        // alert(response.predicted_class);
                        var form = document.getElementById("myForm");
                        form.submit();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            } else {
                alert('Please select an image.');
            }
        }
    </script>
</body>
</html>
